html, body {
  height: 100%;
  margin: 0px;
  background: linear-gradient(to right,#222831, #30475e,#30475e,#222831);
}
.App {
  padding: 0;
  margin: 0;
  width: 100%;
}
.card {
  width: 25rem;
  margin: 8rem 5rem 0 5rem;
  border-radius: 20px;
}

.container-cards {
  width: 100%;
}

.navbar li {
  text-decoration: none;
  font-size: 20px;
}

.link-card {
  text-decoration: none;
}

.table {
  width: 80%;
  color: #ffffff;
}

.search {
  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-left: 11rem;
}

.event {
  margin-top: 5rem;
}